    <!--ALL class code - Shana -->
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class ="bar bar-nav">
      <div id = "nav-bar" class ="title">
        <div id = "app-name"> IMPARTIAL </div>
      </div>
      <button id = "profile-button"> <span id = "icon-profile" class="icon icon-person"></span> </button>
      <button id="stats-button"><span class="glyphicon glyphicon-th"></span></button>
    </header>


    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div id="main-box" class="content">


      <% @quiz.questions.each_with_index do |question, index|  %>

        <% if index != 0 %>
          <div id="question_<%= question.id %>" class="textfill hidden">
            <%= question.quote%>
          <form action="/question_tests" method ="post" >
            <input type='hidden' name='_method' value='put'>
            <input type="hidden" id="question_id_<%=index%>" name="question_id" value="<%=question.id%>">
            <input type="hidden" id="candidate_answer_<%=index%>" name="question_id" value="<%=question.candidate%>">
            <input type="hidden" id="party_answer_<%=index%>" name="question_id" value="<%=question.party%>">
          </form>

          </div>

        <% else %>
          <div id="question_<%= question.id %>" class="textfill">
            <%= question.quote%>
          </div>
        <% end %>

      <%end%>

    <div id="div-buttons">
      <button id="agree-button" class="btn btn-primary ">&#x2713;</button>
      <div id="padding-btw-AD"></div>
      <button id="disagree-button" class="btn btn-primary ">X</button>
    </div>


    <!-- PROGRESS BAR IN THE QUIZ -->
    <!--   <div id="progress-div" class="progress progress-warning active">
        <div id "short-bar" class="progress-bar"
          role="progressbar"
          aria-valuenow="60"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 60%;background-color:rgb(206, 60, 63)">
        </div>
      </div>
     -->
    </div>
